.landing {
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url(../../assets/Images/bg-landing.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .wise-iframe-wrapper {
    position: relative;
    padding-bottom: 56.10%;
    height: 0;
    overflow: hidden;
  }
  a { color: inherit; } 
  
  .wise-iframe-wrapper iframe,
  .wise-iframe-wrapper object,
  .wise-iframe-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .particles {
    height: 100vh;
    width: 100%;
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn .8s ease-in;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .landing-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }
  
  .landing-actions-heading {
    margin-bottom: -3rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: fadeIn 2s ease-in;
  }
  
  .landing-actions-main {
    animation: fadeIn 4s ease-in;
  }
  
  .landing-form {
    max-height: 80%;
    width: auto;
  }
  
  .landing-button {
    background-color: rgba(22, 104, 159, 0.2);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    color: #00ebff;
    text-decoration: none;
    margin: .3rem;
    display: inline-block;
    border-left: .2rem solid #00ebff;
    position: relative;
    overflow: hidden;
    text-indent: 0;
  }
  
  .btn{
    cursor: pointer;
    background-color: rgba(22, 104, 159, 0.2);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    padding: 1rem 2rem;
    color: #00ebff;
    margin: 1.5rem;
    display: inline-block;
    border-left: .2rem solid #00ebff;
    position: relative;
    overflow: hidden;
    text-indent: 0;
  }
  .btn1{
    cursor: context-menu;
    background-color: rgba(22, 104, 159, 0);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    padding: 1rem 2rem;
    color: #00ebff;
    margin: .5rem;
    display: inline-block;
    
    position: relative;
    overflow: hidden;
    text-indent: 0;
  }
  
  .btn-2{
    background-color: rgba(22, 104, 159, 0.2);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    padding: .5rem 1.5rem;
    color: #fff;  
    border:.1rem solid rgba(22, 104, 159, 0.2);
    text-indent:0;
  }
  
  .btn-2:hover{
    color: #00ebff;
    border-color: #00ebff;
  }
  
  p:hover{
    opacity: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  
  .btn p{
    position: relative;
    display: inline-block;
    z-index: 2;
  }
  
  .btn:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      z-index: 1;
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
      transition: all .4s;
      background: rgba(10, 24, 34, 0.8);
  }
  
  .btn:hover:before {
    width: 100%;
    z-index: 0;
    opacity: .7;
  }
  
  .btn:hover{
    color: #ffae00;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  
  .fgimg{
    height: 100%;
    position: absolute;
    top: -17.5%;
    z-index: 1;
    animation: up-down 5s infinite linear;
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(0);
    }
  
    20% {
      transform: translateY(-.5rem);
    }
  
    40% {
      transform: translateY(-1rem);
    }
  
    60% {
      transform: translateY(-.5rem);
    }
  
    80% {
      transform: translateY(.3rem);
    }
  
    100% {
      transform: translateY(0);
    }
  }


  label{
      color: #fff !important;
      text-transform: uppercase !important;
  }



  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    background: #1e3138;
    font-family: "Open Sans", "Noto Sans", HelveticaNeueCyr, Helvetica, sans-serif;
    font-size: 11pt;
}

footer#site-footer {
    margin: 0 auto;
    width: auto;
    background: #1e3138;
    padding: 1rem;
    color: #a8a8a8;
}

footer#site-footer a {
    color: #a8a8a8;
}

footer#site-footer a:hover {
    color: #00c3ce;
}

footer#site-footer h1 {
    color: #cecece;
}

footer#site-footer section.horizontal-footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2.38rem 2rem;
}

footer#site-footer section.horizontal-footer-section#footer-top-section {
    justify-content: center;
}

footer#site-footer #footer-logo {
    margin-right: auto;
    flex-shrink: 0;
}

footer#site-footer #footer-logo img {
    height: 2.28rem;
}

footer#site-footer ul#footer-top-menu {
    padding: 0;
    margin: 0;
}

footer#site-footer ul#footer-top-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 1.32rem;
    font-weight: bold;
}

footer#site-footer ul#footer-top-menu li a {
    text-decoration: none;
}

footer#site-footer .footer-top-menu-item-active {
    position: relative;
}

footer#site-footer .footer-top-menu-item-active a {
    color: #007ba6;
}

footer#site-footer .footer-top-menu-item-active a:hover {
    color: #023538;
}

footer#site-footer .footer-top-menu-item-active::before {
    content: "";
    background: #007ba6;
    padding: 0.15rem 0;
    width: 100%;
    position: absolute;
    top: 1.68em;
}

footer#site-footer .footer-top-menu-item-active:hover::before {
    background: #013d41;
    transition-duration: 0.6s;
}

footer#site-footer #footer-buttons-container {
    margin-left: auto;
    flex-shrink: 0;
}

footer#site-footer a.footer-button {
    background: transparent;
    border: 0.15rem solid #a8a8a8;
    border-radius: 1.38rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

footer#site-footer a.footer-button:hover {
    border-color: #00c3ce;
}

footer#site-footer section.horizontal-footer-section#footer-middle-section {
    align-items: flex-start;
}

footer#site-footer .footer-columns {
    flex-basis: 18%;
    padding-right: 1rem;
}

footer#site-footer .footer-columns-large {
    flex-basis: 46%;
    padding-right: 2rem;
}

footer#site-footer .footer-columns h1 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
}

footer#site-footer .footer-columns.footer-columns-large h1 {
    font-size: 1.28rem;
    margin-top: 3rem;
    margin-bottom: 1.32rem;
}

footer#site-footer .footer-columns.footer-columns-large h1:first-child {
    margin-top: 0;
}

footer#site-footer ul.footer-column-menu {
    margin: 0;
    padding: 0;
}

footer#site-footer ul.footer-column-menu li {
    list-style-type: none;
    margin-bottom: 0.68rem;
    font-size: 0.88rem;
}

footer#site-footer #footer-about address {
    font-style: normal;
    font-weight: bold;
}

footer#site-footer #footer-about address p img {
    margin-right: 0.68rem;
}

footer#site-footer #footer-about a.footer-button {
    margin-top: 0.32rem;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    padding: 1.32rem 0;
    margin: 2rem 2rem 1.32rem 2rem;
    border-top: 0.05rem solid #666666;
}

footer#site-footer #footer-social-buttons {
    justify-self: flex-end;
    margin-left: auto;
}

footer#site-footer #footer-social-buttons img {
    margin-left: 0.68rem;
}

footer#site-footer #footer-social-buttons img:hover {
    cursor: pointer;
}






@media screen and (max-width: 959px) {

    footer#site-footer {
        width: 100%;
    }

    footer#site-footer section.horizontal-footer-section {
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer#site-footer section.horizontal-footer-section div {
        flex-basis: 100%;
        width: 100%;
    }

    footer#site-footer ul li {
        display: block !important;
        padding: 1em !important;
        border-top: 1px solid #555555;
        border-bottom: none;
        border-left: none;
        border-right: none;
        font-size: 1.15rem !important;
    }

    footer#site-footer ul li:first-child {
        border-top: none;
    }

    footer#site-footer a.footer-button {
        display: block;
        text-align: center;
        max-width: 350px;
        margin: 0.32rem auto;
    }

    footer#site-footer section.horizontal-footer-section#footer-top-section div {
        margin-top: 0;
        margin-bottom: 1.68rem;
    }

    footer#site-footer #footer-logo {
        margin-right: 0;
    }

    footer#site-footer #footer-buttons-container {
        margin-left: 0;
    }

    footer#site-footer ul#footer-top-menu {
        width: 100%;
        margin: 2rem 0 0 0;
    }

    footer#site-footer .footer-top-menu-item-active::before {
        display: none;
    }

    footer#site-footer #footer-about {
        margin-bottom: 3rem;
    }

    footer#site-footer .footer-columns-large,
    footer#site-footer .footer-columns {
        padding-right: 0;
    }

    footer#site-footer .footer-columns {
        margin-top: 0;
        margin-bottom: 4rem;
    }

    footer#site-footer .footer-columns:last-child {
        margin-bottom: 0;
    }

    footer#site-footer .footer-columns h1 {
        text-align: center;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }

    footer#site-footer ul.footer-column-menu li {
        margin-bottom: 0;
        display: block;
        text-align: center;
    }

    footer#site-footer section#footer-bottom-section div {
        text-align: center;
    }

    footer#site-footer section.horizontal-footer-section#footer-bottom-section {
        margin: 1.32rem 0;
        padding: 0;
        border-top: 0;
    }

    footer#site-footer section#footer-bottom-section #footer-social-buttons {
        margin-top: 1.32rem;
    }
}