.password-reset-form {
  border: 1px solid transparent;
  border-radius: 4px;
  background: rgba(22, 104, 159, 0.4) !important;
  padding: 2rem;
  width: 40%;
  z-index: 200;
}

.password-reset-form h1 {
  color: #fafafa;
}

.password-reset-form .ant-input {
  background: transparent;
  color: #fafafa;
}

.password-reset-form .ant-checkbox-wrapper span {
  color: #fafafa;
}

.password-reset-form .ant-alert-error {
  background: rgba(255, 0, 0, .2);
  border: none;
}

.password-reset-form .ant-alert-success {
  background: rgba(0, 255, 0, .2);
  border: none;
}

.password-reset-form .ant-alert-success .ant-alert-message {
  color: greenyellow;
}

.password-reset-form .ant-alert-error .ant-alert-message {
  color: #ffae00;
}

@media screen and (max-width: 992px) {
  .password-reset-form {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .password-reset-form {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .password-reset-form {
    width: 90%;
  }
}